

<div class="container dimension">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
    
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <button style="float: right" class="btn btn-primary" (click)="crearEmpleado()">Crear empleado</button>
        </div>
    </div>
    <br><br>
    <table [dataSource]="dataFondoSource" matSort class="mat-elevation-z8" mat-table>
    
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 600;">{{item.dni}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</mat-header-cell>
            <mat-cell *matCellDef="let item" mat-header-cell="apellido">{{item.nombres}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="apellidos">
            <mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDOS</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let item">{{item.apellidos}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="fechaNacimiento">
            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>FECHA DE NACIMIENTO</mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.fechaNacimiento | date}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>EMAIL</mat-header-cell>
            <mat-cell *matCellDef="let item" >{{item.email}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="departamento">
            <mat-header-cell *matHeaderCellDef mat-header-cell>DEPARTAMENTO</mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.departamento}}</mat-cell>
        </ng-container>
    
        <!-- Action Column -->
        <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef mat-header-cell>OPCIONES</mat-header-cell>
            <mat-cell *matCellDef="let item; let i = index">
                <mat-icon (click)="editarEmpleado(item)">edit</mat-icon>
                <mat-icon *ngIf="item.departamento != 'Administración'" (click)="eliminarEmpleado(i)">delete</mat-icon>
            </mat-cell>
        </ng-container> 
    
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: columnas"></mat-row>
    
    </table>
    
    <!-- <mat-paginator [length]="rechazados.length" [pageSizeOptions]="[5,10,25,100]" [pageSize]="rechazados.pageSize" (page)="pageEvent = $event; onPaginateChange($event)" class="sticky left-0"></mat-paginator> -->
</div>

