<form [formGroup]="empleadoForm">
  
    <div appearance="outline">
      <mat-label>NOMBRES</mat-label>
      <input [(ngModel)]="empleado.nombres" matInput formControlName="nombres" class="form-control" placeholder="Escribe tus nombres">
      <mat-error *ngIf="empleadoForm.get('nombres')?.hasError('required')">Nombres es requerido</mat-error>
    </div>

    <div appearance="outline">
        <mat-label>APELLIDOS</mat-label>
        <input [(ngModel)]="empleado.apellidos" matInput formControlName="apellidos" class="form-control" placeholder="Escribe tus apellidos">
    </div>

    <div appearance="outline">
        <mat-label>FECHA DE NACIMIENTO</mat-label>
        <input [(ngModel)]="empleado.fechaNacimiento" matInput formControlName="fechaNacimiento" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>

    <div appearance="fill">
        <mat-label>DEPARTAMENTOS</mat-label>
        <mat-select [(ngModel)]="empleado.departamento" formControlName="departamento">
            <mat-option *ngFor="let item of departamentos" [value]="item">
              {{item}}
            </mat-option>
        </mat-select>   
    </div>
</form>
<br><br>
<div align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
    <button [disabled]="empleadoForm.invalid" class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>