<form [formGroup]="empleadoForm">
    <div appearance="outline">
      <mat-label>DNI</mat-label>
      <input formControlName="dni" class="form-control" placeholder="Escribe tu DNI">
      <mat-error *ngIf="empleadoForm.get('dni')?.hasError('required')">DNI es requerido</mat-error>
    </div>
  
    <div appearance="outline">
      <mat-label>NOMBRES</mat-label>
      <input matInput formControlName="nombres" class="form-control" placeholder="Escribe tus nombres">
      <mat-error *ngIf="empleadoForm.get('nombres')?.hasError('required')">Nombres es requerido</mat-error>
    </div>

    <div appearance="outline">
        <mat-label>APELLIDOS</mat-label>
        <input matInput formControlName="apellidos" class="form-control" placeholder="Escribe tus apellidos">
    </div>

    <div appearance="outline">
        <mat-label>EMAIL</mat-label>
        <input matInput formControlName="email" type="email" class="form-control" placeholder="Escribe tu email">
        <mat-error *ngIf="empleadoForm.get('email')?.hasError('required')">Email es requerido</mat-error>
        <mat-error *ngIf="empleadoForm.get('email')?.hasError('email')">Ingresa un formato email</mat-error>
    </div>

    <div appearance="outline">
        <mat-label>FECHA DE NACIMIENTO</mat-label>
        <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>

    <div appearance="outline">
        <mat-label>DEPARTAMENTOS</mat-label>
        <mat-select formControlName="departamento">
            <mat-option *ngFor="let item of departamentos" [value]="item">
              {{item}}
            </mat-option>
        </mat-select>   
    </div>
</form>
<br><br>
<div align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
    <button [disabled]="empleadoForm.invalid" class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>